.idea
*.iml
.svn
.project
.classpath
.settings
build.properties

VariantDriftEvaluation/target
VariantDriftPrototype/target

results/

VariantDriftPrototype/refactored_subjects/

VariantDriftPrototype/bin/
VariantDriftEvaluation/bin/

VariantDriftEvaluation/src/__pycache__
reported_data/